@import 'mixins';
.about {  
  padding: 7rem 1rem;
  display: grid;
  grid-template-areas: 'title''text''data';
  align-items: center;
  justify-items: center;
  @include from(large){
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'title title''picture text''picture data';
  }
  &Title {
    grid-area: title;
  }
  &Picture {
    grid-area: picture;
    width: 0;
    height: 0;
    margin: auto;
    @include from(large){
      width: 30vw;
      height: auto;
    }
  }
  &Text{
    grid-area: text;
    padding: 1rem;
    color: #454545;
    @include from(large){
      width: 40vw;
    }
  }
  &Data {
    grid-area: data;
    width: 80vw;
    background-color: var(--color4);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include from(large){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      width: 45vw;
    }
    & > .data {
      width: 70%;
      padding: .5rem;
      border-bottom: 1px solid var(--color2);
      &:last-child {
        border: none;
      }
      
      & > p {
        color: var(--color2);
        margin: .5rem 0;
        > a {
          text-decoration: none;
          color: var(--color2);
        }
      }
    }
  }
}