@import 'mixins';
.projects {
  background-color: var(--color1);
  color: var(--color2);
  padding: 1rem 0;
  & h2 {
    color: var(--color2);    
  }
  @include from(medium){
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
    padding-bottom: 5rem;
    & h2 {
      grid-column: 1/4;
    }
  }
  @include from(large){
    grid-template-columns: repeat(5, 1fr);
    & h2 {
      grid-column: 1/6;
    }
  }
}
.project {
  display: grid;
  grid-template-areas: 'title''img''text';
  justify-items: center;
  background-color: var(--color3);
  margin: 1rem;
  border-radius: 10px;

  &Img {
    width: 70%;
    grid-area: img;
  }
  &Title {
    color: var(--color2);
    grid-area: title;
  }
  &Text {
    grid-area: text;
  }

}