@import 'mixins';
.services {
  padding: 7rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include from(medium){
    flex-wrap: 0 1rem;
    flex-direction: row;
    flex-wrap: wrap;    
    > h2 {
      width: 100%;
    }
  }
}
.service {
  margin: .5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color1);
  padding: 1rem;
  width: 10rem;
  height: 10rem;
  text-decoration: none;
  color: var(--color2);

  & .fab,
  & .fas {    
    font-size: 5rem;
  }
}