@import 'mixins';
.skills {
  padding: 5rem 1rem;
  background: var(--color3);
  & > h2 {
    color: var(--color2);      
  }
  @include from(medium){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    & > h2 {
      grid-column: span 2;
    }
  }
  @include from(large){
    grid-template-columns: repeat(4, 175px);
    grid-gap: 2rem;
    justify-content: center;
    & > h2 {
      grid-column: span 4;
    }
  }
}
.skill {
  background: var(--color2);
  border-radius: 15px;
  margin: .5rem 0;
  padding: .5rem;
  & > {
    h3 {
      margin: 0;
      color: var(--color1);
      font-size: 3rem;
    }
  }
}