@import 'mixins';
body {
  text-align: center;
}
section {
  h2 {
    font-size: 3rem;
    @include from(large) {
      color: var(--color1);
    }
  }
}
footer {
  background-color: var(--color1);
  padding: .25rem;
  color: var(--color2);
}